footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
    border-top: 1px solid #dee2e6;
}

footer a:hover {
    color: #007bff;
}

footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #0081ff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 0.5rem;
}

footer .text-body-secondary {
    color: #6c757d;
}

footer p {
    font-size: 0.875rem;
    color: #0088ff;
}

.d-flex {
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    footer {
        text-align: center;
    }

    footer .col {
        margin-bottom: 1rem;
    }

    footer .text-body-secondary {
        font-size: 0.75rem;
    }
}

.LogoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
    transition: all 0.3s ease;
}

.LogoFooter:hover {
    border: 2px solid #343a40;
}

.LogoFooter img {
    width: 100%;
    height: auto;
    display: block;
}
